Options +SymLinksIfOwnerMatch
RewriteEngine On

# Allow Installatron requests
RewriteCond %{REQUEST_FILENAME} deleteme\.\w+\.php
RewriteRule (.*) - [L] 

RewriteRule ^ index.php [L]


location /assets/ {
    alias /var/www/html/my-prefix/assets/;
}